In [44]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 1000)

### Extract the address.xlsx Data

In [45]:
# Read the data into a Pandas DataFrame
#Original file was broken down into sections due to bad data and executed. At the end some data had to be 
#added manually due to the nature of the file . These were about 30 records from the 1710

add_path = "./Resources/albs-all - 3 - Copy (2).csv"
address_df = pd.read_csv(add_path)
address_df.head()

,application_statuscoch,license_type,APPLICATION_CLASSIFICATION,APPLICATION_CLASSIFICATION-1,APPLICATION_CLASSIFICATION-2,APPROVED_LICENSE_TYPE,Approved_License_Stages,commence_operations_date,lic_status,license_number,...,county,county_lat,county_long,Region,ESTABLISHMENT_ADDRESS_2,establishment_state,latitude,longitude,APPROVED_SE_NUMBER,CCCLastUpdated
0,APPROVED,Marijuana Retailer,General Applicant,General Applicant,General Applicant,COMMENCE OPS,COMMENCE OPS,12/3/2021,COMPLETE,MR282948,...,Bristol,41.778329,-71.102131,Southeast and Cape,NaN,MA,41.783005,-71.305816,NaN,3/22/2024
1,REOPENED,Marijuana Delivery Operator Pre-Certification,Expedited Review - Social Equity Participant,Expedited,Social Equity Participant,IN PROCESS,IN PROCESS,NaN,INCOMPLETE,PMD5976,...,NaN,NaN,NaN,NaN,NaN,MA,NaN,NaN,SE305804,3/22/2024
2,APPROVED,Marijuana Product Manufacturer,General Applicant,General Applicant,General Applicant,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,MP281894,...,Plymouth,41.978877,-70.818958,NaN,"41.857419,-70.8660704",MA,41.903112,-70.959608,NaN,3/22/2024
3,REOPENED,Marijuana Product Manufacturer,General Applicant,General Applicant,General Applicant,IN PROCESS,IN PROCESS,NaN,INCOMPLETE,MP281720,...,Worcester,42.329642,-71.840209,Central MA,NaN,MA,NaN,NaN,NaN,3/22/2024
4,APPROVED,Marijuana Courier Pre-Certification,Expedited Review - Social Equity Participant,Expedited,Social Equity Participant,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,PDO103170,...,NaN,NaN,NaN,NaN,NaN,MA,NaN,NaN,SE303896,3/22/2024

In [46]:
address_df["New County"] = ""
address_df["New Lat"] = ""
address_df["New Long"] = ""

In [47]:
# Code to get api key

import requests



# Replace YOUR_API_KEY with your actual API key here. Sign up and get an API key on https://www.geoapify.com/ 
api_key = "ddf55baf7daf4d51b242d22a26d6416c"

#For each record
new_add = []
for index, x in address_df.iterrows():

    address = str(x[15])+","+str(x[17])+","+ str(x[18])
#    print(address) for testing
 
     # Build the API URL
    url = f"https://api.geoapify.com/v1/geocode/search?text={address}&limit=1&apiKey={api_key}"
 
    # Send the API request and get the response
    response = requests.get(url)
#     print(response)
# Check the response status code
    if response.status_code == 200:
        # Parse the JSON data from the response
        data = response.json()
#         print(data)

#     # Extract the first result from the data
        result = data["features"][0]
#         print(result)
        
#     # Extract the latitude and longitude of the result
        latitude = result["geometry"]["coordinates"][1]
        longitude = result["geometry"]["coordinates"][0]
        address_df.loc[index, "New Lat"] = latitude 
        address_df.loc[index,"New Long"] = longitude

        properties_result=result['properties']
#         properties_result['county'] = None

        if 'county' in properties_result:
#            print('county found') for test
#            print(address) for test
            address_df.loc[index,"New County"] = (properties_result['county'])
#            print(properties_result['county'])
#            x[10] = (properties_result['county'])
        else:
            print('county not found')
            print(address)

/var/folders/cd/vcbfr8l13232g3r4h1kc1_r00000gn/T/ipykernel_46611/3808689401.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  address = str(x[15])+","+str(x[17])+","+ str(x[18])

county not found
48 Shank Painter Rd,Provincetown,MA
county not found
278 Scranton Avenue,Falmouth,MA
county not found
800 Falmouth Road,Mashpee,MA

In [48]:

#df = pd.DataFrame(new_add)
address_df["New Long"]

0      -71.17288
1     -71.092436
2     -70.864073
3
4     -72.536121
         ...
223     -71.4495
224   -71.069087
225   -71.808264
226   -72.597662
227   -71.365661
Name: New Long, Length: 228, dtype: object

In [49]:
address_df.to_excel("data/albs-all - 3 - Copy (2).xlsx")

In [50]:
# outputs from the above run were merged to getthe final list used for sql and graph

# data for SQL
#read the final csv and replace the county and city columns with codes 
#populate county and city dataframes separately and link to the main dataframe.

addnew_path = "Resources/Final albs-all (2).csv"
addressnew_df = pd.read_csv(addnew_path)
addressnew_df.head()

,Unnamed: 0,application_status,license_type,APPLICATION_CLASSIFICATION,APPLICATION_CLASSIFICATION-1,APPLICATION_CLASSIFICATION-2,APPROVED_LICENSE_TYPE,Approved_License_Stages,commence_operations_date,lic_status,...,Region,ESTABLISHMENT_ADDRESS_2,establishment_state,latitude,longitude,APPROVED_SE_NUMBER,CCCLastUpdated,New County,New Lat,New Long
0,0,APPROVED,Marijuana Product Manufacturer,Expedited Review - DBE Status,Expedited,DBE Status,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,...,Central MA,Suite B,MA,42.212346,-71.411073,NaN,3/22/2024,Norfolk,42.15942495,-71.39216251
1,1,APPROVED,Marijuana Cultivator,General Applicant,General Applicant,General Applicant,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,...,Western MA,NaN,MA,42.198608,-72.598252,NaN,3/22/2024,Hampden,42.19880755,-72.59910302
2,2,APPROVED,Marijuana Retailer,General Applicant,General Applicant,General Applicant,COMMENCE OPS,COMMENCE OPS,10/13/2023,COMPLETE,...,Central MA,Unit A,MA,42.619880,-71.585876,NaN,3/22/2024,Middlesex,42.62141866,-71.58698164
3,3,APPROVED,Marijuana Product Manufacturer,Expedited Review - Social Equity Participant,Expedited,Social Equity Participant,PROVISIONAL CONSIDERATION,PROVISIONAL CONSIDERATION,NaN,PAYMENT_PENDING,...,Western MA,NaN,MA,42.637327,-73.112068,SE305091,3/22/2024,Berkshire,42.637327,-73.112068
4,4,APPROVED,Marijuana Product Manufacturer,General Applicant,General Applicant,General Applicant,COMMENCE OPS,COMMENCE OPS,1/29/2024,COMPLETE,...,Western MA,NaN,MA,42.196637,-72.602168,NaN,3/22/2024,Hampden,42.197299,-72.603448

In [30]:
cnt = addressnew_df['New County'].unique()
cnt
cnt.size

15

In [31]:
cty = addressnew_df['business_city'].unique()
cty
cty.size

300

In [32]:
county_id = np.arange(1, 16)
city_id = np.arange(1, 301)

print (county_id)

counties = ['ct' + str(x) for x in county_id]
counties

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

['ct1',
 'ct2',
 'ct3',
 'ct4',
 'ct5',
 'ct6',
 'ct7',
 'ct8',
 'ct9',
 'ct10',
 'ct11',
 'ct12',
 'ct13',
 'ct14',
 'ct15']

In [33]:
print (city_id)
cities = ['cty' + str(x) for x in city_id]
cities

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300]

['cty1',
 'cty2',
 'cty3',
 'cty4',
 'cty5',
 'cty6',
 'cty7',
 'cty8',
 'cty9',
 'cty10',
 'cty11',
 'cty12',
 'cty13',
 'cty14',
 'cty15',
 'cty16',
 'cty17',
 'cty18',
 'cty19',
 'cty20',
 'cty21',
 'cty22',
 'cty23',
 'cty24',
 'cty25',
 'cty26',
 'cty27',
 'cty28',
 'cty29',
 'cty30',
 'cty31',
 'cty32',
 'cty33',
 'cty34',
 'cty35',
 'cty36',
 'cty37',
 'cty38',
 'cty39',
 'cty40',
 'cty41',
 'cty42',
 'cty43',
 'cty44',
 'cty45',
 'cty46',
 'cty47',
 'cty48',
 'cty49',
 'cty50',
 'cty51',
 'cty52',
 'cty53',
 'cty54',
 'cty55',
 'cty56',
 'cty57',
 'cty58',
 'cty59',
 'cty60',
 'cty61',
 'cty62',
 'cty63',
 'cty64',
 'cty65',
 'cty66',
 'cty67',
 'cty68',
 'cty69',
 'cty70',
 'cty71',
 'cty72',
 'cty73',
 'cty74',
 'cty75',
 'cty76',
 'cty77',
 'cty78',
 'cty79',
 'cty80',
 'cty81',
 'cty82',
 'cty83',
 'cty84',
 'cty85',
 'cty86',
 'cty87',
 'cty88',
 'cty89',
 'cty90',
 'cty91',
 'cty92',
 'cty93',
 'cty94',
 'cty95',
 'cty96',
 'cty97',
 'cty98',
 'cty99',
 'cty100',
 'cty101',
 'cty102',
 'cty103',
 'cty104',
 'cty105',
 'cty106',
 'cty107',
 'cty108',
 'cty109',
 'cty110',
 'cty111',
 'cty112',
 'cty113',
 'cty114',
 'cty115',
 'cty116',
 'cty117',
 'cty118',
 'cty119',
 'cty120',
 'cty121',
 'cty122',
 'cty123',
 'cty124',
 'cty125',
 'cty126',
 'cty127',
 'cty128',
 'cty129',
 'cty130',
 'cty131',
 'cty132',
 'cty133',
 'cty134',
 'cty135',
 'cty136',
 'cty137',
 'cty138',
 'cty139',
 'cty140',
 'cty141',
 'cty142',
 'cty143',
 'cty144',
 'cty145',
 'cty146',
 'cty147',
 'cty148',
 'cty149',
 'cty150',
 'cty151',
 'cty152',
 'cty153',
 'cty154',
 'cty155',
 'cty156',
 'cty157',
 'cty158',
 'cty159',
 'cty160',
 'cty161',
 'cty162',
 'cty163',
 'cty164',
 'cty165',
 'cty166',
 'cty167',
 'cty168',
 'cty169',
 'cty170',
 'cty171',
 'cty172',
 'cty173',
 'cty174',
 'cty175',
 'cty176',
 'cty177',
 'cty178',
 'cty179',
 'cty180',
 'cty181',
 'cty182',
 'cty183',
 'cty184',
 'cty185',
 'cty186',
 'cty187',
 'cty188',
 'cty189',
 'cty190',
 'cty191',
 'cty192',
 'cty193',
 'cty194',
 'cty195',
 'cty196',
 'cty197',
 'cty198',
 'cty199',
 'cty200',
 'cty201',
 'cty202',
 'cty203',
 'cty204',
 'cty205',
 'cty206',
 'cty207',
 'cty208',
 'cty209',
 'cty210',
 'cty211',
 'cty212',
 'cty213',
 'cty214',
 'cty215',
 'cty216',
 'cty217',
 'cty218',
 'cty219',
 'cty220',
 'cty221',
 'cty222',
 'cty223',
 'cty224',
 'cty225',
 'cty226',
 'cty227',
 'cty228',
 'cty229',
 'cty230',
 'cty231',
 'cty232',
 'cty233',
 'cty234',
 'cty235',
 'cty236',
 'cty237',
 'cty238',
 'cty239',
 'cty240',
 'cty241',
 'cty242',
 'cty243',
 'cty244',
 'cty245',
 'cty246',
 'cty247',
 'cty248',
 'cty249',
 'cty250',
 'cty251',
 'cty252',
 'cty253',
 'cty254',
 'cty255',
 'cty256',
 'cty257',
 'cty258',
 'cty259',
 'cty260',
 'cty261',
 'cty262',
 'cty263',
 'cty264',
 'cty265',
 'cty266',
 'cty267',
 'cty268',
 'cty269',
 'cty270',
 'cty271',
 'cty272',
 'cty273',
 'cty274',
 'cty275',
 'cty276',
 'cty277',
 'cty278',
 'cty279',
 'cty280',
 'cty281',
 'cty282',
 'cty283',
 'cty284',
 'cty285',
 'cty286',
 'cty287',
 'cty288',
 'cty289',
 'cty290',
 'cty291',
 'cty292',
 'cty293',
 'cty294',
 'cty295',
 'cty296',
 'cty297',
 'cty298',
 'cty299',
 'cty300']

In [34]:
county_df = pd.DataFrame({'county_id':counties, 'New County': cnt})
county_df

   county_id  New County
0        ct1   Norfolk
1        ct2     Hampden
2        ct3   Middlesex
3        ct4   Berkshire
4        ct5    Franklin
5        ct6    Suffolk
6        ct7  Barnstable
7        ct8     Bristol
8        ct9   Hampshire
9       ct10   Worcester
10      ct11    Plymouth
11      ct12       Dukes
12      ct13       Essex
13      ct14   Nantucket
14      ct15       Grant

In [35]:

city_df = pd.DataFrame({'city_id':cities, 'business_city': cty})
city_df

    city_id business_city
0      cty1        Medway
1      cty2       Holyoke
2      cty3        Groton
3      cty4         ADAMS
4      cty5       Whately
..      ...           ...
295  cty296     Millville
296  cty297       Allston
297  cty298         Leeds
298  cty299   springfield
299  cty300   Brockton MA

[300 rows x 2 columns]

In [36]:


address_merged_df = addressnew_df.merge(county_df, on="New County", how="left").merge(city_df, on="business_city", how="left")

address_merged_df.tail(10)

,Unnamed: 0,application_status,license_type,APPLICATION_CLASSIFICATION,APPLICATION_CLASSIFICATION-1,APPLICATION_CLASSIFICATION-2,APPROVED_LICENSE_TYPE,Approved_License_Stages,commence_operations_date,lic_status,...,establishment_state,latitude,longitude,APPROVED_SE_NUMBER,CCCLastUpdated,New County,New Lat,New Long,county_id,city_id
1679,26,APPROVED,Marijuana Retailer,General Applicant,General Applicant,General Applicant,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,...,MA,42.209551,-72.599465,NaN,3/22/2024,Hampden,42.209551,-72.599464,ct2,cty2
1680,27,APPROVED,Marijuana Retailer,Priority Review - MTC Priority,Priority,MTC Priority,COMMENCE OPS,COMMENCE OPS,6/29/2020,COMPLETE,...,MA,42.590627,-72.309389,NaN,3/22/2024,Berkshire,42.4452914,-73.25314036,ct4,cty74
1681,28,APPROVED,Marijuana Retailer,General Applicant,General Applicant,General Applicant,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,...,MA,42.308016,-71.385103,NaN,3/22/2024,Middlesex,42.3075036,-71.38550285,ct3,cty54
1682,29,REOPENED,Marijuana Courier Pre-Certification,Expedited Review - Social Equity Participant,Expedited,Social Equity Participant,IN PROCESS,IN PROCESS,NaN,INCOMPLETE,...,MA,NaN,NaN,SE304499,3/22/2024,Plymouth,42.1027043,-71.00401535,ct11,cty300
1683,30,APPROVED,Marijuana Retailer,General Applicant,General Applicant,General Applicant,COMMENCE OPS,COMMENCE OPS,11/4/2020,COMPLETE,...,MA,42.145827,-71.985539,NaN,3/22/2024,Worcester,42.2647254,-72.0906211,ct10,cty142
1684,31,APPROVED,Marijuana Cultivator,General Applicant,General Applicant,General Applicant,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,...,MA,42.480201,-72.933922,NaN,3/22/2024,Hampshire,42.48018935,-72.9339186,ct9,cty126
1685,32,APPROVED,Marijuana Product Manufacturer,General Applicant,General Applicant,General Applicant,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,...,MA,42.209389,-72.598597,NaN,3/22/2024,Hampden,42.209389,-72.598597,ct2,cty2
1686,33,APPROVED,Marijuana Retailer,Priority Review - MTC Priority,Priority,MTC Priority,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,...,MA,42.370590,-72.533569,NaN,3/22/2024,Norfolk,42.15200975,-71.02550581,ct1,cty16
1687,34,APPROVED,Marijuana Courier Pre-Certification,Expedited Review - Social Equity Participant,Expedited,Social Equity Participant,PROVISIONAL LICENSE,PROVISIONAL LICENSE,NaN,COMPLETE,...,MA,NaN,NaN,SE305049,3/22/2024,Plymouth,42.05873755,-71.06676224,ct11,cty26
1688,35,APPROVED,Marijuana Cultivator,General Applicant,General Applicant,General Applicant,COMMENCE OPS,COMMENCE OPS,7/17/2023,COMPLETE,...,MA,42.562383,-71.857413,NaN,3/22/2024,Suffolk,42.32827313,-71.0723489,ct6,cty6

In [37]:
addfinal_df = address_merged_df[['license_number', 'application_status', 'business_name', 'BUSINESS_PHONE', 'business_address_1',
                                'city_id','business_state', 'business_zipcode', 'New Lat','New Long','county_id'  ]]

addfinal_df

,license_number,application_status,business_name,BUSINESS_PHONE,business_address_1,city_id,business_state,business_zipcode,New Lat,New Long,county_id
0,MP282192,APPROVED,"Good Feels, Inc.",617-201-6025,23 Jayar Rd,cty1,MA,2053,42.15942495,-71.39216251,ct1
1,MC281342,APPROVED,"Holyoke Gardens, LLC",413-588-6565,5 Appleton Street,cty2,MA,1040,42.19880755,-72.59910302,ct2
2,MR284616,APPROVED,"UC Retail, LLC",978-866-1154,489 Main Street,cty3,MA,1450,42.62141866,-71.58698164,ct3
3,MP282240,APPROVED,Motah 420 LLC,617-480-4160,6 RENFREW ST,cty4,MA,1220,42.637327,-73.112068,ct4
4,MP281832,APPROVED,"Mill Town Agriculture, LLC",781-353-8585,1 Cabot Street,cty2,MA,1040,42.197299,-72.603448,ct2
...,...,...,...,...,...,...,...,...,...,...,...
1684,MC282135,APPROVED,dba EMJ LLC,413-858-5352,205 West Cummington Rd,cty126,MA,1026,42.48018935,-72.9339186,ct9
1685,MP282115,APPROVED,"Holyoke Wilds, LLC",646-263-8363,20 Hadley Mill Road,cty2,MA,1040,42.209389,-72.598597,ct2
1686,MR282715,APPROVED,MassMedicum Corp.,781-799-6629,1 Mear Road,cty16,MA,2343,42.15200975,-71.02550581,ct1
1687,PDO103558,APPROVED,Social-J LLC,781-308-1109,1280 Belmont St.,cty26,MA,2031,42.05873755,-71.06676224,ct11
1688,MC281599,APPROVED,Native Sun Wellness,845-304-8375,67 Kemble Street,cty6,MA,2144,42.32827313,-71.0723489,ct6

In [38]:
addfinal_df.to_csv("data/address_final.csv", index=False)

In [39]:
city_df.to_csv("data/city_df.csv", index=False)

In [40]:
county_df.to_csv("data/county_df.csv", index=False)